.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.form-card {
    flex-grow: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.form-group {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    flex-wrap: wrap;
}

.form-group > .ant-form-item {
    flex: 1;
    min-width: 220px;
}

.full-width {
    width: 100%;
}